.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}

.gears-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  color: #2D3B49;
  font-size: 3em;
  padding: 0;
  margin: 0;
}

.spacer {
  width: 100%;
  height: 2.5em;
}
